#以点开头的目录
.vscode/
.obsidian/
.trash/
.cph/
.lcpr_data/

# pycache
__pycache__/

#目录
[Tt]arget/
[Tt]ests/
[Bb]uild/
node_modules/

#文件
*.exe
*.out
*.o
*.a
*.prob
*.zip
*.7z
*.code-workspace
*.lnk
*.pdb
*.ini
*.kate-swp

#其他
oi
# *tests
main
